#main li ul,
#main li ol       { margin: 0; }
/*#main ul,
#main ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.4em; }
*/
#main ul          { list-style-type: none; }
#main ol          { list-style-type: decimal; }

#main dl          { margin: 0 0 1.5em 0; }
#main dl dt       { font-weight: bold; }
#main dd          { margin-left: 1.5em;}

.link {
  color: #0078A4;
  text-decoration: underline;
}

h3 {
	margin-bottom: 0.825em;
}

.link,.link:visited,.link:active {text-decoration: none; color: #0078A4; }
.link:hover {text-decoration: underline; color: #004d69; cursor: pointer;}
