.upvotebefore {	
  /*background: url(images/thumbs_up_after.jpg);
  width: 10px;
  height: 10px;
  margin-top: -6px;*/
}

.downvotebefore {
  /*width: 10px;
  height: 10px;
  background: url(images/thumbs_down.jpg);
  margin-top: -6px;*/
}