.upvotebefore {	
  background-image: url("/images/thumbs_up.jpg");
  width: 10px;
  height: 10px;
}

.downvotebefore {
  width: 10px;
  height: 10px;
  background-image: url("/images/thumbs_down.jpg");
}