<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context definition for MyCiteSeer using JDBC.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


  <!-- =================== GENERAL DEFS ==================== -->

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:csx.config.properties"/>
  </bean>

  <bean id="mcsDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.mcs.driverClassName}"/>
    <property name="url" value="${jdbc.mcs.url}"/>
    <property name="username" value="${jdbc.mcs.username}"/>
    <property name="password" value="${jdbc.mcs.password}"/>
  </bean>

  
  <!-- =================== BUSINESS OBJECT DEFS ==================== -->

  <bean id="accountDAO" class="edu.psu.citeseerx.myciteseer.dao.AccountDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>
  
  <bean id="submissionDAO" class="edu.psu.citeseerx.myciteseer.dao.SubmissionDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>

  <bean id="myNetDAO" class="edu.psu.citeseerx.myciteseer.dao.MyNetDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>
  
  <bean id="configurationDAO" class="edu.psu.citeseerx.myciteseer.dao.ConfigurationDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>
  
  <bean id="collectionDAO" class="edu.psu.citeseerx.myciteseer.dao.CollectionDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource" />
  </bean>
  
  <bean id="subscriptionDAO" class="edu.psu.citeseerx.myciteseer.dao.SubscriptionDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>

  <bean id="mcsTagDAO" class="edu.psu.citeseerx.myciteseer.dao.TagDAOImpl" lazy-init="true">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>
  
  <bean id="myCiteSeer" class="edu.psu.citeseerx.myciteseer.domain.logic.MyCiteSeerImpl">
    <property name="accountDAO" ref="accountDAO"/>
    <property name="submissionDAO" ref="submissionDAO"/>
    <property name="myNetDAO" ref="myNetDAO"/>
    <property name="configurationDAO" ref="configurationDAO"/>
    <property name="collectionDAO" ref="collectionDAO"/>
    <property name="subscriptionDAO" ref="subscriptionDAO"/>
    <property name="tagDAO" ref="mcsTagDAO"/>
  </bean>
  
  
  <!-- =================== TRANSACTION CONFIGURATION ==================== -->
  
  <tx:advice id="mcsTxAdvice" transaction-manager="mcsTxManager">
    <tx:attributes>
      <tx:method name="get*" read-only="true"/>
      <tx:method name="is*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
  
  <aop:config>
    <aop:pointcut id="mcsOperation" expression="execution(* edu.psu.citeseerx.myciteseer.domain.logic.MyCiteSeerFacade.*(..))"/>
    <aop:advisor advice-ref="mcsTxAdvice" pointcut-ref="mcsOperation"/>
  </aop:config>
  
  <bean id="mcsTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="mcsDataSource"/>
  </bean>
    
</beans>
