<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context definition for paper/author statistics generation using JDBC.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
       
  <!-- =================== GENERAL DEFS ==================== -->
  
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:csx.config.properties"/>
  </bean>
  
  <bean id="citeStatDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.citegraph.driverClassName}"/>
    <property name="url" value="${jdbc.citegraph.url}"/>
    <property name="username" value="${jdbc.citegraph.username}"/>
    <property name="password" value="${jdbc.citegraph.password}"/>
  </bean>
  
  
  <!-- =================== BUSINESS OBJECT DEFS ==================== -->

  <bean id="citationStats" class="edu.psu.citeseerx.dao2.logic.CitationStatisticsDAOImpl">
    <property name="dataSource" ref="citeStatDataSource"/>
  </bean>


  <!-- =================== TRANSACTION CONFIGURATION ==================== -->
  
  <tx:advice id="statTxAdvice" transaction-manager="statTxManager">
    <tx:attributes>
      <tx:method name="get*" read-only="true"/>
      <tx:method name="is*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
  
  <aop:config>
    <aop:pointcut id="statOperation" expression="execution(* edu.psu.citeseerx.dao2.logic.CitationStatisticsDAO.*(..))"/>
    <aop:advisor advice-ref="statTxAdvice" pointcut-ref="statOperation"/>
  </aop:config>
  
  <bean id="statTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="citeStatDataSource"/>
  </bean>
  
</beans>
