<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context definition for updates to the citeseerx external
  - metadata storage
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
       
  <!-- =================== GENERAL DEFS ==================== -->
  
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:csx.config.properties"/>
  </bean>
  
  <!-- =================== DISAMBIGUATION OBJECT DEFS ==================== -->

  <bean id="csxDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.csx.driverClassName}"/>
    <property name="url" value="${jdbc.csx.url}"/>
    <property name="username" value="${jdbc.csx.username}"/>
    <property name="password" value="${jdbc.csx.password}"/>
  </bean>

  <bean id="csxAuthorFilter" class="edu.psu.citeseerx.disambiguation.CsxAuthorFilter">
    <property name="nameStopwordsFile" value="${csx.disambiguation.name_stopwords}"/>
  </bean>

  <bean id="disambiguationService" class="edu.psu.citeseerx.disambiguation.DisambiguationService">
    <property name="modelFile" value="${csx.disambiguation.model}"/>
  </bean>

  <bean id="profileDistance" class="edu.psu.citeseerx.disambiguation.ProfileDistance">
    <property name="affModelFile"   value="${csx.disambiguation.aff_model}"/>
    <property name="lnameModelFile" value="${csx.disambiguation.lname_model}"/>
  </bean>

  <bean id="csxAuthorBlock" class="edu.psu.citeseerx.disambiguation.CsxAuthorBlock">
    <property name="distService"  ref="disambiguationService"/>
    <property name="profDistance" ref="profileDistance"/>
    <property name="dataSource"   ref="csxDataSource"/>
    <property name="tmpFile"    value="${csx.disambiguation.tmpfile}"/>
  </bean>

</beans>
