<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context definition for CiteSeerX using JDBC.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!-- =================== GENERAL DEFS ==================== -->
  
  <bean id="citeGraphDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.citegraph.driverClassName}"/>
    <property name="url" value="${jdbc.citegraph.url}"/>
    <property name="username" value="${jdbc.citegraph.username}"/>
    <property name="password" value="${jdbc.citegraph.password}"/>
  </bean>
  
  
  <!-- =================== BUSINESS OBJECT DEFS ==================== -->
  
  <bean id="citegraph" class="edu.psu.citeseerx.dao2.logic.CiteClusterDAOImpl">
    <property name="dataSource" ref="citeGraphDataSource"/>
  </bean>
  
  <bean id="citeContextUtil" class="edu.psu.citeseerx.web.CiteContextUtil">
    <property name="citeClusterDAO" ref="citegraph"/>
  </bean>
  
  <bean id="metadataCartDWR" class="edu.psu.citeseerx.web.MetadataCartDWR">
    <property name="citeClusterDAO" ref="citegraph"/>
  </bean>
  
  
  <!-- =================== TRANSACTION CONFIGURATION ==================== -->
  
  <tx:advice id="cgTxAdvice" transaction-manager="cgTxManager">
    <tx:attributes>
      <tx:method name="get*" read-only="true"/>
      <tx:method name="is*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
  
  <aop:config>
    <aop:pointcut id="cgOperation" expression="execution(* edu.psu.citeseerx.dao2.logic.CiteClusterDAO.*(..))"/>
    <aop:advisor advice-ref="cgTxAdvice" pointcut-ref="cgOperation"/>
  </aop:config>
  
  <bean id="cgTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="citeGraphDataSource"/>
  </bean>
  
</beans>
